* {
    box-sizing: border-box; /* Ensures padding and border are included in element's total width and height */
}

body {
    background: #000;
    margin: 0; /* Remove default margin */
    height: 100vh; /* Full height of viewport */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.container {
    text-align: center; /* Center text inside the container */
}

svg {
    height: 150px; /* Set height for your SVG */
    width: 150px; /* Set width for your SVG */
    display: block; /* Ensure SVG behaves as a block element */
    margin: 0 auto; /* Center SVG horizontally */
}

.coming-soon-text {
    color: rgb(174, 159, 159); /* Text color */
    font-size: 24px; /* Adjust font size */
    margin-top: 10px; /* Space above the text */
	margin-left: 9px;
}
